
<% if current_user %>
<div style='display:flex; align-items:center;gap:1rem'>
  <%= link_to emails_path, method: :post, class:'btn btn-primary', remote:true do %>
  <i class="fas fa-sync"></i>
  <% end %>
      <%= render 'unread_emails' %>

</div>

<% else %>
<h3>Please log-in!</h3>
<% end %>



<%= render 'emails_list'%> 
